.pagquiz{
    background-color: rgb(24, 24, 71);

}
form{
    width: 40%;
    height: auto;
    margin: 10px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 35x;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: aliceblue;
}

.alternativasABC{
 margin-left: -49%;
}
.alternativasDE{
    margin-left: -30%;
   }
#a{
    margin-right: 10%;
}
#E{
    margin-right: -1%;
}

.timer{
    margin-right: 80%;
}
